@model Kintai.Models.AttendanceMonth

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AttendanceMonth</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserCode)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Month }) |
    @Html.ActionLink("Back to List", "Index")
</p>
